@use './utils' as utils;

:root {
    --background-color-base: #fff;
    --color-base: #000;
    --color-dark-charcoal: #333333;
    --color-red: #de1135;
    --color-green: #0e8345;
    --color-blue: #266ef1;
    --color-white-smoke: #f3f3f3;
    --color-dark-grey: #a6a6a6;
    --color-light-grey: #d6d6d6;
    --color-700: #222;
    --color-600: #21201f;
    --color-500: #42413e;
    --color-450: #5a5a5a;
    --color-400: #75736f;
    --color-300: #9e9b98;
    --color-275: #999;
    --color-250: #c4c2be;
    --color-200: #e0deda;
    --color-150: #edece8;
    --color-125: #f1f0ed;
    --background-tertiary: #e8e8e8;
    --color-invert: #fff;
    --color-zambezi: #5e5e5e;
    --font-small-px: 14px;
    --font-xsmall: utils.to-rem(12px);
    --font-small: utils.to-rem(14px);
    --font-regular: utils.to-rem(16px);
    --font-large: utils.to-rem(18px);
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}

@font-face {
    font-family: UberMove;
    font-style: normal;
    font-weight: normal;
    src:
        url('../../../assets/fonts/uber/UberMove-Regular.woff') format('woff'),
        url('../../../assets/fonts/uber/UberMoveTextRegular.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    font-family: UberMove, system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
