@use 'sass:math' as math;
@use './variables' as vars;
@use './functions' as functions;

@function to-rem($size) {
    @return functions.to-rem($size);
}

@mixin set-transition(
    $properties: (),
    $duration: vars.$transition-default-duration,
    $timingFunction: vars.$transition-default-timing-function
) {
    @if (length($properties) == 1) {
        transition: $properties $duration $timingFunction;
    } @else if (length($properties) > 1) {
        transition: $duration $timingFunction;
        transition-property: $properties;
    }
}

@mixin set-size($width, $height: null) {
    width: $width;

    @if ($height == null) {
        height: $width;
    } @else {
        height: $height;
    }
}

@mixin backdrop {
    @include set-transition(opacity, ease-out, 300ms);

    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);

    &[data-closed] {
        opacity: 0;
    }
}

@mixin icon-wrapper {
    @include set-size(2.5rem);

    background-color: var(--color-base);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
