// Transitions
$transition-default-duration: 0.25s !default;
$transition-default-timing-function: ease !default;
$transition-default: $transition-default-duration $transition-default-timing-function !default;
