.layout {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template:
        'a b b d'
        'a b b d';
}

.sidebarLeft {
    grid-area: a;
}

.main {
    display: flex;
    grid-area: b;
    flex-direction: column;
    gap: 1.5rem;
}

.sidebarRight {
    grid-area: d;
}
