.wrapper {
    display: flex;
}

.buttonsWrapper {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.modal {
    max-width: 320px;

    &[data-headlessui-state='open'] {
        transition:
            transform 0.3s ease-out,
            opacity 0.3s ease-out;
    }
}
