.wrapper {
    display: flex;
}

.buttonsWrapper {
    display: flex;
    gap: 1rem;
}

.fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
    gap: 1rem;
}
