.wrapper {
    display: flex;
}

.buttonsWrapper {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.modal {
    max-width: 320px;
    transform: translateY(-20px);
    transition:
        opacity 0.4s ease-out,
        transform 0.4s ease-out;
}
