@use '@app/styles/utils' as utils;

.expense {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.expenseName {
    color: var(--color-dark-charcoal);
}

.icon {
    @include utils.icon-wrapper;

    position: relative;
    cursor: pointer;
}

.fill {
    @include utils.set-size(2.3rem);

    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon svg {
    @include utils.set-size(1.5rem);

    border: none;
    fill: var(--background-color-base);
    z-index: 100;
}

.deposit {
    color: var(--color-base);
}
