.operationsHistoryList {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.operationsBlock {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.operationsHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.operaions {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
