@use '@app/styles/variables' as vars;
@use '@app/styles/utils' as utils;

.operation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    font-size: vars.$font-small;
}

.operationDescription {
    display: flex;
    align-items: center;
}

.iconWrapper {
    @include utils.icon-wrapper;
}

.balanceWrapper {
    display: flex;
    font-size: vars.$font-regular;
}
