@use '@app/styles/utils' as utils;
@use '@app/styles/variables' as variables;

$z-index-content: variables.$z-index-drawer;
$z-index-backdrop: $z-index-content - 1;
$button-size: 30px;
$drawer-width: 320px;

.root {
    @include utils.set-transition(transform, 200ms, linear);

    z-index: $z-index-content;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translate(100%);
    display: flex;

    &.isOpen {
        transform: translate(0);
    }
}

.backdrop {
    @include utils.set-transition(opacity, visibility);
    @include utils.backdrop;

    z-index: $z-index-backdrop;
    opacity: 0;
    visibility: hidden;

    &.isVisible {
        opacity: 1;
        visibility: visible;
    }
}

.inner {
    display: flex;
    flex-grow: 1;
    position: relative;
    width: $drawer-width;
    background-color: var(--background-tertiary);
}

.button {
    flex-grow: 1;
    position: absolute;
    left: -$button-size;
    background-color: var(--color-base);
    height: 100%;
    cursor: pointer;
    width: $button-size;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 2px 12px 2px #00000075;
    outline: none;
}

.icon {
    @include utils.set-size(24px);
}

.content {
    padding: 12px;
}
