@use '@app/styles/utils' as utils;

.sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
}

.menuItems {
    @include utils.set-transition((opacity, transform), ease-out, 300ms);

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: var(--color-base);

    &[data-closed] {
        transform: scale(0.8);
        opacity: 0;
    }
}

.icon {
    @include utils.set-size(1rem);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    &[data-focus] {
        border: 1px solid transparent;
    }
}

.backdrop {
    @include utils.backdrop();
}
