@use '@app/styles/utils' as utils;

.sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
}

.icon {
    @include utils.set-size(1rem);
}
