.button {
    border-radius: 999px;
    background-color: var(--color-base);
    color: var(--color-invert);
    font-size: var(--font-regular);
    border: none;

    &_small {
        width: 60px;
        height: 48px;
    }

    &_regular {
        width: 73px;
        height: 48px;
    }

    &_large {
        width: 343px;
        height: 56px;
        border-radius: 8px;
    }

    &_light {
        background-color: var(--background-tertiary);
        color: var(--color-base);
    }

    &_dark {
        background-color: var(--color-base);
        color: var(--color-invert);
    }
}
