.button {
    border-radius: 999px;
    background-color: var(--color-base);
    color: var(--color-invert);
    font-size: var(--font-regular);
    border: none;
    align-self: center;
    position: relative;
    cursor: pointer;
    padding-inline: 2rem;

    &.smallSize {
        height: 40px;
    }

    &.regularSize {
        height: 42px;
    }

    &.largeSize {
        height: 48px;
    }

    &.fullwidth {
        width: 100%;
    }

    &.light {
        background-color: var(--background-tertiary);
        color: var(--color-base);

        &[data-hover] {
            background-color: var(--color-light-grey);
        }

        &[data-focus] {
            background-color: var(--color-light-grey);
        }

        &[data-active] {
            background-color: var(--color-light-grey);
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
        }

        &[data-disabled] {
            background-color: var(--color-white-smoke);
            color: var(--color-dark-grey);
        }
    }

    &.dark {
        background-color: var(--color-base);
        color: var(--color-invert);

        &[data-hover] {
            background-color: var(--color-dark-charcoal);
        }

        &[data-focus] {
            background-color: var(--color-dark-charcoal);
        }

        &[data-active] {
            background-color: var(--color-dark-charcoal);
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
        }

        &[data-disabled] {
            background-color: var(--color-white-smoke);
            color: var(--color-dark-grey);
        }
    }

    &_load {
        position: relative;
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.contentContainer {
    // TODO: Remove if obsolete
    display: block;
}

.content {
    opacity: 1;

    &.isContentHidden {
        opacity: 0;
    }
}
