@use '@app/styles/utils';

.root {
    position: relative;
}

.modal {
    @include utils.set-transition((opacity, transform), ease-out, 300ms);

    background-color: var(--background-color-base);
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
    opacity: 1;

    &[data-closed] {
        transform: scale(85%);
        opacity: 0;
    }
}

.backdrop {
    @include utils.backdrop;
}

.modalContainer {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
