@use '@app/styles/utils' as utils;

.textField {
    display: flex;
    flex-direction: column;
    font-size: var(--font-small-px);
    width: 100%;
}

.label {
    color: var(--color-base);
    font-weight: var(--font-weight-medium);

    &::first-letter {
        text-transform: uppercase;
    }
}

.input {
    @include utils.set-transition((border-color));

    border: 2px solid transparent;
    border-radius: 8px;
    background-color: var(--background-tertiary);
    // TODO: Make padding dynamic. Should depend on actions block length
    padding: 8px 26px 8px 8px;
    color: var(--color-base);
    outline: none;
    width: 100%;

    &::placeholder {
        color: var(--color-zambezi);
    }

    &[data-focus] {
        border-color: var(--color-base);
        background-color: var(--background-color-base);
    }
}

.hint {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--color-light-grey);
}

.wrong {
    color: var(--color-red);
    border-color: var(--color-red);
    background-color: var(--background-color-base);
}

.correct {
    color: var(--color-green);
    border-color: var(--color-green);
    background-color: var(--background-color-base);
}

.hintText {
    &.isCorrect {
        color: var(--color-green);
    }

    &.isWrong {
        color: var(--color-red);
    }
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    margin-right: 10px;
    column-gap: 2px;
}

.cancelButton {
    @include utils.set-transition(opacity, ease, 80ms);

    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;

    &.isVisible {
        opacity: 1;
        pointer-events: revert;
    }
}

.cancelIcon {
    @include utils.set-size(16px);
}

.wrapper {
    position: relative;
    margin: 10px 0;
    width: 100%;
}

.showButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    cursor: pointer;
}

.showIcon {
    @include utils.set-size(16px);
}
