.textField {
    display: flex;
    flex-direction: column;
    font-size: var(--font-small-px);
}

.label {
    color: var(--color-base);
    font-weight: var(--font-weight-medium);

    &::first-letter {
        text-transform: uppercase;
    }
}

.input {
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    border: none;
    border-radius: 8px;
    background-color: var(--background-tertiary);
    padding: 8px 16px;
    color: var(--color-base);

    &::placeholder {
        color: var(--color-zambezi);
    }

    &[data-focus] {
        outline: 0;
        outline-offset: 0;
        border: 3px solid var(--color-base);
        background-color: var(--background-color-base);
    }
}

.hint {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--color-light-grey);
}

.wrong {
    color: var(--color-red);
    border: 3px solid var(--color-red);
    background-color: var(--background-color-base);
}

.correct {
    color: var(--color-green);
    border: 3px solid var(--color-green);
    background-color: var(--background-color-base);
}

.hintCorrect {
    color: var(--color-green);
}

.hintWrong {
    color: var(--color-red);
}

.cancelIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 16px;
    height: 16px;
    left: calc(100% - 2rem);
    top: 28%;
}

.wrapper {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 343px;
    height: 36px;
    margin: 10px 0;
}
