@use '@app/styles/variables' as vars;
@use '@app/styles/utils' as utils;

.transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    font-size: vars.$font-small;
}

.transactionDescription {
    display: flex;
    align-items: center;
}

.iconWrapper {
    @include utils.set-size(2rem);

    background-color: var(--color-base);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.balanceWrapper {
    display: flex;
    font-size: vars.$font-regular;
}
