@use '@app/styles/global' as global;

.financeText {
    font-weight: var(--font-weight-bold);
}

.finance {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    font-size: global.$font-regular;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}
