.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    position: relative;
    box-sizing: border-box;
}

.tabPanels {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    z-index: 999;
}
